<section class="showcase">
  <header>
    <h2 class="logo">Wild Life</h2>
    <div class="toggle"></div>
  </header>

  <video src="../assets/pexels-nipen-7492891.mp4" muted loop autoplay></video>

  <div class="overlay"></div>
  <div class="text">
    <h2>Explore</h2>
    <h3>The Wild Life</h3>
    <p>
      Like us, animals feel love, joy, fear and pain, but they cannot grasp the
      spoken word. It is our obligation to speak on their behalf ensuring their
      well-being and lives are respected and protected.
    </p>
    <a href="#">Explore</a>
  </div>

  <ul class="social">
    <li>
      <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
    </li>
    <li>
      <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
    </li>
    <li>
      <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
    </li>
  </ul>
</section>
